{% extends 'projects/base.html' %}
{% load static %} 
{% block content %}

<h1>Edit  Category</h1>


<form class="form-row" method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3"> <!-- 1 -->
      <label class="form-label">Title </label>
      <input type="text" value="{{category.category_name}}" name="category_name" class="form-control">
    </div> <!-- 1 -->
    <div class="mb-3"> <!-- 1 -->
      <label class="form-label">description </label>
      <input type="text" value="{{category.description}}" name="description" class="form-control">
    </div> <!-- 1 -->
    
   
    
    <div class="mb-3"> <!-- 3 -->
      <label class="form-label">Image </label>
      <input type="file" class="form-control" name="image">
    </div> <!-- 3 -->
    <img src="{{category.get_image_url}}"   width="200" height="200" alt="...">

    
  
    
    <button type="submit" class="btn btn-primary">Edit Category</button>
  </form>
    

{% endblock content %}